.house-card {
  position: relative;
  width: 250px;
  padding: 10px;
  margin: 10px;

  max-width: 500px;

  background-color: white;
  border: 1px solid rgba(var(--dark-blue-rgb), 0.2);
  border-radius: 15px;
  box-shadow: var(--dp4);

  text-align: left;


  .card-content {

    h1 {
      font-size: 18px;
      margin: 2px 0 10px 0;
    }


    .card-middle {
      display: flex;
      flex-direction: row;


      .img-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        height: 110px;
        width: 110px;
        min-width: 110px;

        margin-bottom: 2px;

        border-radius: 15px;
        border: 1px solid var(--mid-blue);
        box-shadow: var(--dp4);

        overflow: hidden;
        box-sizing: border-box;

        .img-placeholder {
          position: absolute;
          font-size: 60px;
        }

        img {
          object-fit: cover;
          z-index: 2;
        }
      }

      p {
        margin: 2px 0 2px 10px;
      }

    }

  }

  .card-icons {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5px;
    display: flex;

    .icon {
      font-size: 24px;
      cursor: pointer;
      padding: 5px;
    }

    .icon-white {
      @extend .icon;
      background-color: var(--mid-blue);
      clip-path: circle(50% at 50% 50%);

    }
  }
}