.calendar-page {
  width: 100vw;
  min-width: 306px;
  margin: auto;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .calendar-tile-wrapper {
    width: fit-content;
    margin-bottom: 100px;

    .ghost-tile {
      height: 0px;
      opacity: 0;
    }
  }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

@media only screen and (min-width: 750px) {
  .calendar-tile-wrapper {
    display: flex;
  }
}