.calendar-page {
  width: fit-content;
  min-width: 306px;
  margin: 20px auto;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}