.radio-buttons {
  display: flex;
  width: 80vw;
  max-width: 500px;
  flex-direction: row !important;
  align-items: flex-start;

  label {
    display: flex;
    width: fit-content !important;
    align-items: center;
    margin-right: 20px;
    font-size: 14px !important;

    
    input[type=radio] {
      height: 20px !important;
      width: 20px !important;
      box-shadow: none !important;
      position: fixed;
      opacity: 0;
      margin: 0;
      cursor: pointer;
      
      &:checked + div {
        .selected-fill {
          background-color: var(--mid-blue);
        }
        
      }
    }

    .custom-radio {
      height: 21px !important;
      width: 21px !important;
      border-radius: 50%;
      border: 1px solid rgba(var(--dark-blue-rgb), 0.2);
      box-shadow: var(--dp4);
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      margin-right: 10px;

      .selected-fill {
        height: 15px;
        width: 15px;
        border-radius: 50%;
      }

    }
  }
}

.user-card {
  position: relative;

  height: 80px;
  width: 250px;
  padding: 10px;
  margin: 10px;

  background-color: white;
  border: 1px solid rgba(var(--dark-blue-rgb), 0.2);
  border-radius: 15px;
  box-shadow: var(--dp4);

  text-align: left;

  .card-content {
    h1 {
      margin: 2px 0 10px 0;
      font-size: 18px;
    }

    .card-middle {
      p {
        margin: 2px 0;
      }
    }
  }
  .card-icons {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5px;

    .delete-icon {
      font-size: 24px;
      cursor: pointer;
      padding: 5px;
    }

    .delete-icon-white {
      @extend .delete-icon;
      border-radius: 50%;
      background-color: var(--mid-blue);

    }
  }

}
