body #root .background-circles.login-circle {
  background-color: var(--dark-blue);
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;

  img {
    width: calc(250px + 10vw);

    transform: translateX(-15px);
  }

  label {
    color: white !important;
  }
}