.calendar {
  width: fit-content;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--off-white);
  box-shadow: var(--dp4);

  .calendar button {
    outline: none;
  }

  .calendar-month_header {
    display: flex;
    justify-content: space-between;
    height: 42px;

    .calendar-header_button {
      background-color: transparent;
      border: none;
      display: flex;
      cursor: pointer;
    }
  }

  .calendar-month {

    .calendar-days_of_week {
      display: flex;
      justify-content: space-around;
      height: 42px;
      align-items: center;
    }

    .calendar-week {

      .maintenance {
        border: 1px solid blue;
      }
      
      .inspection {
        border: 1px solid red;
      }
      
      .lease {
        border: 1px solid green;
      }

      .default-week-day {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: none;
        margin: 5px;
        background-color: transparent;
      }

      .is-next_month, .is-prev_month {
        opacity: 0.5;
      }

      .is-today {
        background-color: var(--dark-gradient);
        color: white;
        box-shadow: var(--dp4);
      }
    }
  }

}