.image-div {
    display: flex;
    position: relative;
    align-items: center !important;
    justify-content: center !important;
    
    height: 160px;
    width: 90vw;
    max-width: 500px;
    margin-top: 30px;
    
    background-color: white;
    border-radius: 15px;
    border: 1px solid rgba(var(--dark-blue-rgb), 0.2);
    box-shadow: var(--dp4);

    cursor: pointer;

    &:hover {
        box-shadow: var(--dp8);
    }

    &:active {
        box-shadow: var(--dp12);
    }
    


    .image-upload {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;

        height: 140px;
        width: calc(90vw - 20px);
        max-width: 480px;

        border-radius: 10px;
        opacity: 0;

        .image-icon {
            font-size: 70px;
            pointer-events: none;
        }
        
        .image-upload-input {
            opacity: 0;
            position: absolute;
            pointer-events: none;
    
        }
    
        span {
            position: absolute;
            bottom: 10px;
            opacity: 0.8;
        }
    }

    .image-preview {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        width: calc(100% - 20px);
        height: calc(100% - 20px);
        pointer-events: none;
        overflow: hidden;
        border-radius: 10px;
    }

    .preview-background {
        background-color: var(--logo-blue);
    }

    .edit-image {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 0;
        right: 0;

        height: 50px;
        width: 50px;

        border-radius: 50%;
        background-color: white;

        pointer-events: none;

        .edit-icon {
            font-size: 24px;
        }
    }
}

.upload-mode {
    opacity: 1 !important;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23333' stroke-width='1' stroke-dasharray='10%2c 5' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

