/*Stuff for the whole page*/

.maintenance-display-page {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  align-items: center;

  .maintenance-display-title {

  }

  .new-request-button {
    background-color: #00853e;
    color: white;
    font-size: 18px;
    margin: 46px 0;
    border: none;
    cursor: pointer;
    font-weight: 700;
    box-shadow: var(--dp8);
    transform: scale(1.01);
    width: 90vw;
    height: 40px;
    max-width: 500px;
    padding: 0px 20px;
    display: inline-block;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}
